<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="Server" value="localhost"/>
		<add key ="Database" value="timetabledb"/>
		<add key ="User" value ="root"/>
		<add key ="Password" value="password"/>
		<add key ="Url" value="http://localhost:9911/"/>
	</appSettings>
</configuration>